
[submodule "vim/dot.vim/neobundle.vim"]
	path = vim/dot.vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "script/cdd"]
	path = script/cdd
	url = https://github.com/m4i/cdd.git
[submodule "tmux/osx-pasteboard"]
	path = tmux/osx-pasteboard
	url = https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
