[submodule "vim/dot.vim/neobundle.vim"]
	path = vim/dot.vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "script/cdd"]
	path = script/cdd
	url = https://github.com/m4i/cdd.git
[submodule "third_party/nlnog-ring"]
	path = third_party/nlnog-ring
	url = https://github.com/NLNOG/nlnog-ring
