[submodule "script/cdd"]
	path = third_party/cdd
	url = https://github.com/m4i/cdd.git
[submodule "third_party/nlnog-ring"]
	path = third_party/nlnog-ring
	url = https://github.com/NLNOG/nlnog-ring
[submodule "vim/dot.vim/vim-plug"]
	path = vim/dot.vim/vim-plug
	url = https://github.com/junegunn/vim-plug
